<nav class="navbar-midnight">
  <%= link_to "HIGHWAY TO WIPE", root_path, class: "guild-name" %>
  <ul class="nav-links">
    <% if user_signed_in? %>
      <li><%= link_to "Home", root_path, class: "nav-link" %></li>
      <li><%= link_to "Roster", characters_path, class: "nav-link" %></li>
      <li><%= link_to "Calendrier", events_path, class: "nav-link" %></li>
      <li><%= link_to "Farm", farm_path, class: "nav-link" %></li>
      <li><%= link_to "Discord", "https://discord.gg/gpdXBfyuYw", target: "_blank", class: "nav-link" %></li>

      <li class="nav-account">
        <div class="dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            👤 <%= current_user.display_name %>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
            <li><%= link_to "Mon Profil", edit_profile_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= button_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
          </ul>
        </div>
      </li>
    <% else %>
      <li><%= link_to "Connexion", new_user_session_path, class: "btn-login" %></li>
    <% end %>
  </ul>
</nav>
